body {
  background: #f6f6ec;
  font-family: 'Roboto', sans-serif;
  color: #C6A969;
  transition: all 200ms ease-in-out;
}

h1 {
  color: #C6A969;
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  font-weight: 600;
}

a {
  color: #C6A969;
  text-decoration: none;
  font-weight: 500;
}

select {
  background: #C6A969;
  color: #F1E4C3;
  border-radius: 4px;
  display: block;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}

.change-theme{
  display: flex;
  justify-content: end;
}

.icon{
  font-size: 36px !important;
  transition: all 200ms ease-in-out;
}

.icon:hover{
  cursor: pointer;
  color: #2b1e06b6;
}

.container {
  background: #F1E4C3;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  margin: 60px auto 30px;
  max-width: 600px;
  padding: 30px;
  transition: all 200ms ease-in-out;
}

.city {
  border-bottom: 1px dashed rgba(96, 93, 93, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.current-date {
  opacity: 0.7;
}
.current-time {
  font-size: 48px;
  font-weight: 400;
}

.current-time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

footer {
  color: rgba(0, 0, 0, 0.687);
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.dark-mode{
  color: #d9ca9faf;
  background: #1e1701c5
}

.dark-mode .icon:hover{
  color:#F1E4C3
}
.dark-mode h1{
  color: #F1E4C3;
}
.dark-mode .container{
  background: #2b1e06b6;
  box-shadow: 0px 7px 29px 0px rgba(229, 214, 190, 0.2);
}

.dark-mode a{
  color: #F1E4C3;
}
.dark-mode select{
  background: #e4d5aeaf;
  color: #2d2304ca;
}


.dark-mode footer a{
  color: #F1E4C3
}